<h1 class="h1 page-title">Соберите бургер</h1>

<div class="tabs">
  <button
    [class.active]="activeTab() === INGREDIENT_TYPE.BUN"
    (click)="activeTab.set(INGREDIENT_TYPE.BUN)"
  >
    Булки
  </button>

  <button
    [class.active]="activeTab() === INGREDIENT_TYPE.SAUCE"
    (click)="activeTab.set(INGREDIENT_TYPE.SAUCE)"
  >
    Соусы
  </button>

  <button
    [class.active]="activeTab() === INGREDIENT_TYPE.MAIN"
    (click)="activeTab.set(INGREDIENT_TYPE.MAIN)"
  >
    Начинки
  </button>
</div>

<div class="ingredients">
  <h2 class="h2">Булки</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsByType()[INGREDIENT_TYPE.BUN]; track ingredient._id) {
      <sb-ingredient-card
        [counter]="constructorStore.countById(ingredient._id)"
        [ingredient]="ingredient"
        (add)="constructorStore.addBun($event)"
      />
    }
  </div>

  <h2 class="h2">Соусы</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsByType()[INGREDIENT_TYPE.SAUCE]; track ingredient._id) {
      <sb-ingredient-card
        [counter]="constructorStore.countById(ingredient._id)"
        [ingredient]="ingredient"
        (add)="constructorStore.addIngredientToBasket($event)"
      />
    }
  </div>

  <h2 class="h2">Основные ингердиенты</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsByType()[INGREDIENT_TYPE.MAIN]; track ingredient._id) {
      <sb-ingredient-card
        [counter]="constructorStore.countById(ingredient._id)"
        [ingredient]="ingredient"
        (add)="constructorStore.addIngredientToBasket($event)"
      />
    }
  </div>
</div>

<button sb-button>Оплатить</button>
