<h1 class="h1 page-title">Соберите бургер</h1>

<div class="tabs"></div>

<div class="ingredients">
  <h2 class="h2">Булки</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsBunsData(); track ingredient._id) {
      <sb-ingredient-card [ingredient]="ingredient" />
    }
  </div>

  <h2 class="h2">Соусы</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsSauceData(); track ingredient._id) {
      <sb-ingredient-card [ingredient]="ingredient" />
    }
  </div>

  <h2 class="h2">Основные ингердиенты</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsMainData(); track ingredient._id) {
      <sb-ingredient-card [ingredient]="ingredient" />
    }
  </div>
</div>

<button sb-button>Оплатить</button>
