<h1 class="h1 page-title">Соберите бургер</h1>

<div #tabs class="tabs">
  <button
    [class.active]="constructorStore.activeTab() === INGREDIENT_TYPE.BUN"
    (click)="scrollToSection(INGREDIENT_TYPE.BUN)"
  >
    Булки
  </button>

  <button
    [class.active]="constructorStore.activeTab() === INGREDIENT_TYPE.SAUCE"
    (click)="scrollToSection(INGREDIENT_TYPE.SAUCE)"
  >
    Соусы
  </button>

  <button
    [class.active]="constructorStore.activeTab() === INGREDIENT_TYPE.MAIN"
    (click)="scrollToSection(INGREDIENT_TYPE.MAIN)"
  >
    Начинки
  </button>
</div>

<div class="ingredients">
  <h2 #sectionTitle class="h2 section-title">Булки</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsByType()[INGREDIENT_TYPE.BUN]; track
    ingredient._id) {
    <sb-ingredient-card
      [counter]="constructorStore.countById(ingredient._id)"
      [ingredient]="ingredient"
      (add)="constructorStore.addBun($event)"
    />
    }
  </div>

  <h2 #sectionTitle class="h2 section-title">Соусы</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsByType()[INGREDIENT_TYPE.SAUCE]; track
    ingredient._id) {
    <sb-ingredient-card
      [counter]="constructorStore.countById(ingredient._id)"
      [ingredient]="ingredient"
      (add)="constructorStore.addIngredientToBasket($event)"
    />
    }
  </div>

  <h2 #sectionTitle class="h2 section-title">Основные ингердиенты</h2>

  <div class="ingredients__list">
    @for (ingredient of constructorStore.ingredientsByType()[INGREDIENT_TYPE.MAIN]; track
    ingredient._id) {
    <sb-ingredient-card
      [counter]="constructorStore.countById(ingredient._id)"
      [ingredient]="ingredient"
      (add)="constructorStore.addIngredientToBasket($event)"
    />
    }
  </div>
</div>
