.page-title {
  text-align: center;
  margin-top: 1rem;
}

.tabs {
  position: sticky;
  top: calc(40px + 0.75rem * 2);
  z-index: 1;
  display: flex;
  background-color: var(--sb-background);

  & button {
    flex: 1;
    padding: 1rem 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s ease-out;

    &.active {
      border-bottom: 2px solid var(--sb-button-gradient-end);
    }
  }
}

.ingredients {
  padding: 1.25rem 0.5rem 4.5rem;

  &__list {
    padding: 1rem 0 0.75rem;
    display: flex;
    gap: 2rem 1rem;
    flex-wrap: wrap;
  }
}

.section-title {
  scroll-margin-top: 7.5rem;
}
