:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--sb-modal-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;

  &__burger-button {
    padding: 0.375rem 0 0.375rem 0.375rem;
  }

  &__desktop-nav {
    display: none;
  }

  @media (min-width: 1024px) {
    padding: 0;

    &__desktop-nav {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      padding: 1rem 0;
    }

    &__logo-mobile {
      display: none;
    }

    &__burger-button {
      display: none;
    }
  }
}
