/* Box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние/внешние отступы */
html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Работа с изображениями */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Убираем дефолтные стили списков */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Сброс стилей форм */
input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  appearance: none;
}

/* Убираем декоративные линии у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Упрощенный clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
