:host {
  background-color: var(--sb-modal-background);
}

.navigation-panel {
  margin: 0 auto;
  max-width: 1280px;
  padding: 16px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px;
    border-radius: 40px;

    color: var(--sb-text-dark-grey);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
