<header class="navigation-panel">
  <div class="wrapper">
    <a class="navigation-panel__link">
      <svg-icon src="../assets/svg/burger.svg" />
      <span>Конструктор</span>
    </a>
    <a class="navigation-panel__link">
      <svg-icon src="../assets/svg/view-list.svg" />
      <span>Лента заказов</span>
    </a>
  </div>

  <a class="navigation-panel__link">
    <svg-icon src="../assets/svg/logo.svg" />
  </a>

  <a class="navigation-panel__link">
    <svg-icon src="../assets/svg/profile.svg" />
    <span>Личный кабинет</span>
  </a>
</header>
