:host {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: calc(50% - 0.5rem);
}

.price {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__amount {
    font-size: 1.375rem;
  }
}

.name {
  text-align: center;
}

.button {
  margin-top: auto;
  padding: 0.625rem 0.25rem;
  color: var(--sb-button-gradient-end);
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--sb-button-gradient-end);
  font-size: 1.375rem;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
}
