:host {
  position: fixed;
  inset: 0;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  padding: 0 0.5rem;
  overflow: hidden;
  background-color: var(--sb-modal-background);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }

  &.open {
    animation: animation-open 0.3s ease-out;
  }
}

.accordion-panel {
  display: grid;
  overflow: hidden;

  &.open {
    animation: animation-open-accordion 0.3s ease-out forwards;
  }

  &.close {
    animation: animation-close-accordion 0.3s ease-out forwards;
  }
}

.accordion-item {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  padding: 0.75rem 0;
  color: var(--sb-font-secondary);

  &--panel {
    padding-left: calc(24px + 0.5rem);
  }

  &__triangle-icon {
    margin-left: auto;
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;

    &.open {
      transform: rotate(0);
    }
  }
}

@keyframes animation-open {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes animation-open-accordion {
  from {
    height: 0;
  }
  to {
    height: calc((1rem * 1.15 + 0.7rem * 2) * 3);
  }
}

@keyframes animation-close-accordion {
  from {
    height: calc((1rem * 1.15 + 0.7rem * 2) * 3);
  }
  to {
    height: 0;
  }
}
