.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1.25rem;
  border-radius: 1.7rem;
  color: var(--sb-font-secondary);
  transition: color 0.2s ease-out;

  &:hover {
    color: var(--sb-font);
  }

  &--last {
    margin-left: auto;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
