@use "styles/index";

// Глобальные стили
:root {
  font-size: 1em;

  --sb-background: #131316;
  --sb-modal-background: #1C1C21;
  --sb-font: #F2F2F3;
  --sb-font-secondary: #8585AD;
}

body {
  font-family: Nunito, sans-serif;
  background-color: var(--sb-background);
  color: var(--sb-font);
  line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
