/* Работа с изображениями */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  font-size: 1em;

  --sb-background: #131316;
  --sb-modal-background: #1C1C21;
  --sb-text-primary-light: #F2F2F3;
  --sb-text-dark-grey: #8585AD;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--sb-background);
  color: var(--sb-text-primary-light);
  letter-spacing: 0.01em;
  text-underline-offset: 3px;
}

a, button {
  cursor: pointer;
}
